<!-- Modal -->
		  <div class="modal fade" id="payment_" role="dialog" >
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title">Payment:</h4>
			        </div>
			        <div class="modal-body">
			        	<h3>Matches:</h3>
			        	<table class='table' id='pay'>
			        		<tbody></tbody>
			        	</table>
			        </div>
			        
			        </div> <!-- end of modal-body -->
			        
			        <div class="modal-footer">
			        	<button type="button" class='save_payment'>Save Payment</button>
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

			        </div>
		      </div>
		      
		    </div>
		  </div>

