<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
 <style>
    .ui-autocomplete {
z-index: 2147483647;
}
 </style>
 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
   

    <style>
  body  {padding-top:10px;
          padding-left:30px;}
 .temp tbody tr:hover {
    background-color: yellow;
}
.csv tbody tr:hover {
    background-color: yellow;
}
.payments tbody tr:hover {
    background-color: lightblue;
}
#payment_ .modal-body #pay tbody tr:hover {
 background-color: lightblue; 
}
  
</style>
  	 
  </head>
  <body>
    

  <h2>Bank CSV download</h2>
  <input id='fileLoad' type='file' accept='.csv'>

  
  
  <div class="table-responsive">
    <div class='csv'>
      <h3></h3>
        <table class='table'>
          <thead>
            <th>custID</th>
            <th>Date</th>
            <th>Amt</th>
            <th>Transaction</th>
            <th>Inv #</th>
            <th>Name</th>
          </thead>
          <tbody>
          </tbody>
        </table>
        
        <button class='btn' id='import'>Import to temp</button>
        <button class='btn' id='payments'>show payments tbl</button>
    </div>
  </div>
    <div class='temp'>
      <h3></h3>
        <table class='table'>
          <thead>
            <th>tempId</th>
            <th>CustID</th>
            <th>Date</th>
            <th>Amt</th>
            <th>Transaction</th>
          </thead>
          <tbody></tbody>
        </table> 
    </div> 
    <div class='payments'>
      <h3></h3>
        <table class='table'>
          <thead>
            <th>paymentsId</th>
            <th>CustID</th>
            <th>Date</th>
            <th>Amt</th>
            <th>Transaction</th>
          </thead>
          <tbody></tbody>
        </table>  
    </div> 
   <div class="container">
         <% include ../views/modals/has_custID %>
        <% include ../views/modals/has_no_custID %>  
   </div> 
  </body>



  <script>
 $(document).ready(function(){

$('.csv, .temp, .payments').hide();

$('#fileLoad').change(function(e){
//         console.log('in fileLoad');
         var fileName=e.target.files[0].name;
  //       console.log(fileName);
         $.get('csv/download',{fileName: fileName},function(data){
    //        console.log('in get data:::::');
    //        console.log('length='+data.length)
    //        console.log('length='+data[0][0])
            $('body').data({pdata:data}); // save pdata
            $('.csv').show();
            $('.csv h3').append(data.length);
            for(var i=0; i<data.length;i++){
              $('.csv .table tbody').append(
                '<tr><td>'+
                '</td><td>'+data[i][0]+'</td><td>'+data[i][1]+
                '</td><td>'+data[i][2]+'</td><td>'+
                data[i][2].match(/\d{8}/))+'</td></tr>'
            }//for
            selectTR(data);
         })// get csv/download
       //selectTR();
       });


$('.csv #import').on('click', function(){
  console.log('in import')
  var arr=getD($('body').data().pdata)
 console.log('custarr=='+arr[1])
 $.post('csv/import',{paydata: JSON.stringify(arr)}, function(data){
 //   console.log('in post ++++')
 //   console.log('number of rec_added='+data.length)
 //   console.log('rec_added='+data)
    //console.log('rec details:'+data[0][4])
    
    showPayments(data);
    $('.csv #import').hide();
 })

})

$('.csv #payments').on('click', function(){
  console.log('in payments')
  var limit=40;
  $.get('csv/payments',{limit},function(data){
    console.log('in get payments ++++')
    console.log('data.length='+data.length)
    $('.payments').show();
 //   console.log('data[0]='+data[0].id)
            $('.payments h3').empty()
                .append('payments table: '+data.length);
            $('.payments .table tbody').empty();    
            for(var i=0; i<data.length;i++){
              $('.payments .table tbody').append(
                '<tr><td>'+data[i].id+'</td><td>'+data[i].custID+
                '</td><td>'+mySqlToCsv(data[i].tdate)+'</td><td>'+data[i].amt+
                '</td><td>'+data[i].trans+'</td></tr>')
            }//for
////////////////////////////////////////////
        $('.payments .table tbody tr').on('mouseover',function(){
          console.log('mouseover')
          console.log('row=='+$(this).index())
          var custID=$(this).find('td:eq(1)').text()
          console.log('custID=='+custID)
          $.get('csv/mouseover',{custID},function(data){
            console.log('in get mouseover')
            console.log('data=='+data[0].prop)
            $(".payments .table tbody tr").attr({
              title: data[0].name+'  '+data[0].prop})
          })//get
        })//mouseover
//////////////////////////////////////////
  })//get

});// show payments button click




function showPayments(data){
  $('.temp').show();
            $('.temp h3').empty()
                .append('payments added to temp: '+data.length);
            for(var i=0; i<data.length;i++){
              $('.temp .table tbody').append(
                '<tr><td>'+data[i][0]+'</td><td>'+data[i][1]+
                '</td><td>'+data[i][2]+'</td><td>'+data[i][3]+
                '</td><td>'+data[i][4]+'</td></tr>')
            }//for

}
/*
function getD(data) creates an array of arrays (cust)
and inserts the found custID into it
eg 
cust[i]=[custID,date,amt,trans]
and returns cust
*/

function getD(data){
cust=[];
  var val
  for(var i=0; i<data.length;i++){
  val=$('.csv .table tbody').find('tr:eq('+i+') td:eq(0)').text()  
  cust.push([val,data[i][0],data[i][1],data[i][2]]);
}
console.log('pcust  '+cust[0])
return cust
}


/////////////////////////////////////
function selectTR(data){
$('.csv .table tbody tr').on('click',function(){
  console.log('tr on click')
  var tableRow=$(this).index()
  var tr={}
  tr.date=data[tableRow][0];
  tr.amt=data[tableRow][1];
  tr.trans=data[tableRow][2];
  console.log('row='+tableRow)
//  console.log('row data=='+data[tableRow])
  console.log('tr data==='+tr.date+'   '+tr.amt+'   '+tr.trans)
  //console.log('in select tr custID=='+getCustID(tr,tableRow))
  getCustID(tr,tableRow);
})
}

function getCustID(tr,tableRow){

switch(true){
  // incorrect IDs
  //Transfer FPS, Mcinnes C, 14760119  (1476 is wrong should be 1480)
  //Transfer FPS, North Robert Happer Victoria-Loui, 17210417
  case /1476\d{4}$|1721\d{4}$/.test(tr.trans):
   var name=tr.trans.match(/,(.*),/)[1].trim();
   getCustID_1(tr, tableRow,name);
   break;
  //Transfer FPS, Northwood Edinburg,< 12830119 82 H GDNS>
  // matches end str if 8 integers + some characters
  case /\d{8}\s.*$/.test(tr.trans):
    var str=tr.trans.match(/\s\d{8}\s.*$/)[0]
    var chk=str.match(/\d{8}/)[0].trim().slice(4,6)
    if(chk=='01'||chk=='04'||chk=='07'||chk=='10'){
                var custID=str.match(/\d{8}/)[0].slice(0,4);
              }//if chk
    //console.log('switch Transfer FPS, Northwood Edinburg, 12830119 82 H GDNS=='+custID)
    $('.csv .table tbody tr:eq('+tableRow+') td:eq(0)')
                      .text(custID);
    break;
  //Transfer FPS, Prentice Sg, <16760119>
  // matches end 8 integers
  case /\s\d{8}$/.test(tr.trans):
     var str=tr.trans.match(/\s\d{8}$/)[0]
     var chk=str.match(/\s\d{8}$/)[0].trim().slice(4,6)
     if(chk=='01'||chk=='04'||chk=='07'||chk=='10'){
                var custID=str.match(/\d{8}/)[0].slice(0,4);
              }//if chk
  //   console.log('switch inv=='+custID)
     $('.csv .table tbody tr:eq('+tableRow+') td:eq(0)')
                      .text(custID);
    break;
//Transfer FPS,<< Hume Mj>>, 6 MURIESTON CREA >>>> matches str between commas
  case /,(.*),/.test(tr.trans):
    var name=tr.trans.match(/,(.*),/)[1].trim();
 //   console.log('switch name='+name)
    ////////////////////////////////
    getCustID_1(tr, tableRow,name);
    
    break;
  //Giro MHAIRI COOK  >>>> matches last 12 characters
  case /.{12}$/.test(tr.trans):
    var name=tr.trans.match(/.{12}$/)[0];
 //   console.log('switch alt name='+name)
    getCustID_1(tr, tableRow,name);
    break;
  default:
    console.log('switch default')
}
///////////////////////////////////////////


}/// getCustID

function getCustID_1(tr, tableRow, name){
  ////////////////////////////////
      $.get('csv/cust_id',{name: name},function(data){
        console.log('data.length='+data.length);
        if(!data.length){
            
                      noFindCustID(tr, tableRow);
                      return
                 
        }//if
        console.log('values='+data[0].id+' '+data[0].name+' '+data[0].prop)
        var arr=[];
        var Dta=[];
        for(var i=0; i<data.length; i++){
          if(!arr.includes(data[i].id)){
            arr.push(data[i].id)
            Dta.push([data[i].id, data[i].name, data[i].prop])
            }// if statement
          }// for loop
        console.log('Dta=='+Dta.length+'   '+Dta[0][0]+Dta[0][1]+Dta[0][2])
        $('#payment_ .modal-title').empty()
                  .append('</br>'+tr.date+'  '+tr.amt+'  '+tr.trans)
          $('#payment_ .modal-body #pay tbody').empty();
          for(var i=0; i<Dta.length; i++){
            $('#payment_ .modal-body #pay tbody')
                  .append('<tr><td>'+Dta[i][0]+'</td><td>'
                            +Dta[i][1]+'</td><td>'
                            +Dta[i][2]+'</td></tr>')
          }// for
        $('#payment_').modal('show');//show payments
        $('#payment_ .modal-body #pay tbody tr').on('click',function(){
          var tableR=$(this).index()
          console.log('tableRow='+tableR)
          console.log('custID='+Dta[tableR][0]);
          $('#payment_').modal('hide');//hide payments
          $('.csv .table tbody tr:eq('+tableRow+') td:eq(0)')
                      .text(Dta[tableR][0]);
        })// on click
        
       });//// get
    /////////////////////////////////
}

function noFindCustID(tr, tableRow){
  console.log('in noFindCustID')
  //$('.csv .table tbody tr:eq('+tableRow+') td:eq(0)')
    //                  .text('no find');
  var tag='#no_custID_ .modal-body #searchInput'
  $('#no_custID_ .modal-title').empty()
                  .append('</br>'+tr.date+'  '+tr.amt+'  '+tr.trans)
  $('#no_custID_').modal('show');
  $('#no_custID_ .modal-footer .confirm').hide();
  $('#no_custID_ .modal-footer .skip').on('click',function(){
    $('#no_custID_').modal('hide');
    return
  });
  $('#no_custID_ .modal-footer .untraced').on('click',function(){
    $('.csv .table tbody tr:eq('+tableRow+') td:eq(0)')
                      .text('0');
    $('#no_custID_').modal('hide');
    return
  });
  $(tag).autocomplete({
        appendTo: $(tag).parent(),
        source: function(req, res){
        
        $.ajax({
          url: '/csv/autocomplete',
          data: {term:  req.term},
  
            success: function(data){
              var len=data.length;
              
              var arr=new Array();
                for (var i=0; i<len; i++){
                  arr.push({label: data[i].prop, id: data[i].id});
                }
                
              res(arr);
            }///success
            
        });/// ajax
      },//// source
        minLength: 4,
        select: function(event, ui){
          console.log('prop='+ui.item.label+
            ' custID='+ui.item.id);
          $('#no_custID_ .modal-footer .confirm').show();
          $('#no_custID_ .modal-body h4').empty().append('custID='+ui.item.id+
            ' prop=='+ui.item.label)
          $('#no_custID_ .modal-footer .confirm').on('click',function(){
            $('.csv .table tbody tr:eq('+tableRow+') td:eq(0)')
                      .text(ui.item.id);
            $('#no_custID_').modal('hide'); 

          })
          return

        }
      });//autocomplete
        
  
}
    ///////////////////////////////////
function csvToMySqlDate(date){
  var month=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var DD=date.slice(0,2);
  var MM=date.slice(3,6);
  var mm = month.indexOf(MM)+1;
  mm=("0" + mm).slice(-2);
  var YYYY='20'+date.slice(7,9);
  
  return YYYY+'-'+mm+'-'+DD;
}

function mySqlToCsv(date){
  var month=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
  var DD=date.slice(8,10);
  var MM=date.slice(5,7);
  var mm=parseInt(MM);
  mm=month[mm-1];
  var YYYY=date.slice(2,4);
  return DD+'-'+mm+'-'+YYYY;
}


});// doc ready


</script>
</html>
